body{
    background-color: lightblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}



.data{
    background-color: white;
    opacity: .75;
    margin: 10px;
    padding: 25px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.data a{
    font-size: 36px;
    color: #330000;
    padding-bottom: 20px;
    border-bottom: 10px;
}
.data a:hover {
    color: #FFF;
    background-color: #ff88ff;
    padding: 15px;
    text-decoration: none;
}
.data h4{
    color: #330000;
    font-size: 24px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    padding: 15px;
}
.heading{
    text-align: center;
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif
}
.sub-text{
    font-family: Arial, Helvetica, sans-serif
}

.nav-link{
    color: white;
    font-size: 24px;
    margin: 10px;
    padding: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.nav-link:hover {
    color: #FFF;
    background-color: #DD1188;
}

.content{
    font-size: 16px;
    margin-top: 14px;
}
img{
    align-content: center;
    padding: 5px 25px 25px 25px;
    width: 100%;
    height: 300px;
}
h2{
    color: white;
}
btn{
    padding-left: 20px;
}